# Red leds
set_io osl_ir 99
# set_io oslv_data_debug[5] 98
# set_io oslv_data_debug[6] 97
# set_io oslv_data_debug[7] 96

# Green led
# set_io oslv_data_debug[3] 95

# IrDA
set_io osl_ir 105
#set_io IrDA_RX 106

# 12 MHz clock
set_io isl_clk 21
